<section class="container">
	<div class="card-box">
		<div class="panel">
			<div class="panel-title">
				<h1 class="m-t-10 header-title">Documentos</h1>
			</div>
			<div class="panel-body">
				<% @documents.each do |d| %>
					<label>Professor: </label> <%= d.teacher %>
					<label>Disciplina: </label> <%= d.subject %>
					<label>Ano: </label> <%= d.year %>
					<label>Tipo: </label> <%= d.typedoc %>
					<label>Arquivo: </label> <%= link_to "PDF", controller: "search", action: "show", id: d.id %>
					<label>Labels: </label> 
					<% d.labels.each do |l| %>
						<%= l.nome %>
					<% end %>	
				<% end %>
			</div>
		</div>
	</div>
</section>
