<h1>EDITAR DOCUMENTO</h1><br>
<%= form_for :document, :url => { :action => "update" } do |f| %>
	<label>Professor: </label> <%= f.text_field :teacher %><br>
	<label>Disciplina: </label> <%= f.text_field :subject %><br>
	<label>Ano: </label> <%= f.number_field :year %><br>
	<label>Tipo: </label> <%= f.text_field :typedoc %><br>
	<br>
	
	<%= submit_tag "Update" %>
<% end %>