<h1>UPLOAD DO DOCUMENTO</h1><br>
<%= form_for :document, :url => { :action => "create" } do |f| %>
	<label>Professor: </label> <%= f.text_field :teacher %><br>
	<label>Disciplina: </label> <%= f.text_field :subject %><br>
	<label>Ano: </label> <%= f.number_field :year %><br>
	<label>Tipo: </label> <%= f.text_field :typedoc %><br>
	<label>Arquivo: </label> <%= f.file_field :datafile %><br>
	<label>Labels: </label> 
	<%= f.text_field :labels0 %>
	<%= f.text_field :labels1 %>
	<br>
	
	<%= submit_tag "Create" %>
<% end %>

<%= button_to "Logout", destroy_user_session_path, method: :delete %>
