<h1>Moderador</h1>
<br>
<h3>Provas aprovadas:</h3>
<br>
<% @documents.each do |d| %>
	<label>Professor: </label> <%= d.teacher %>
	<label>Disciplina: </label> <%= d.subject %>
	<label>Ano: </label> <%= d.year %>
	<label>Tipo: </label> <%= d.typedoc %>
	<label>Arquivo: </label> <%= link_to "PDF", controller: "search", action: "show", id: d.id %>
	<br>
	<%= button_to "Editar", {action: "edit", controller: "upload", id: d.id }, method: :get %>
	<%= button_to "Deletar", { action: "delete", controller: "upload", id: d.id }, method: :delete, data: { confirm: "are you sure?" } %>
	<br>
<% end %>
